---
const { title } = Astro.props; // Titel dynamisch übergeben
import "../assets/styles/global.css"
import "../assets/styles/detail.css"; // Glo
const isHomePage = Astro.url.pathname === "/"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><slot name="title" /></title>
  </head>
  <body>
    <header class="header">
      <nav class="navigation">
        {!isHomePage && <a href="/" class="nav-link">Hauptseite</a>}
        <slot name="extra-links"></slot> <!-- Zusätzliche Links -->
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>