---
import { pwaInfo } from 'virtual:pwa-info';
import Footer from '../components/Footer.astro';
import "../assets/styles/global.css";
// import "../assets/styles/detail.css"; // Globale und Detail-Stile
import "../assets/styles/header.css"; // Header-Stile

const { title } = Astro.props;
const { BASE_URL } = import.meta.env;
const isHomePage = Astro.url.pathname === `${BASE_URL}/`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/pwa-192x192.png">
    <base href={BASE_URL} />
    <title>{title || 'Astro App'}</title>
    {pwaInfo?.webManifest?.linkTag && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
    <style>
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #000; /* Schwarzer Hintergrund */
        color: white; /* Weißer Text */
      }

      main {
        padding: 20px;
      }

 

      a:hover {
        color: rgb(7, 7, 7);
      }
    </style>
  </head>
  <body>
    <header class="header">
      <nav class="navigation">
        {!isHomePage && <a href={`${BASE_URL}`} class="nav-link">Hauptseite</a>}
        <slot name="extra-links"></slot>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>